name: Java CI with Format and Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: 检出最新代码
      uses: actions/checkout@v4
    
    - name: 设置 Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Ensure Gradle Wrapper is used
      run: echo "Using Gradle Wrapper (./gradlew) to build"
    
    - name: Build with Gradle
      env:
        GRADLE_OPTS: >
                      -Dcom.sun.jndi.ldap.object.disableEndpointIdentification=true 
                      -Dcom.sun.net.ssl.checkRevocation=false
      run: ./gradlew build
    
    - name: 上传构建产物
      uses: actions/upload-artifact@v4
      with:
        name: 'gtmoldraw'
        path: './build/libs/'
